* {
    margin: 0;
    padding: 0;
}

body {
    
    margin: 20px;

    background-color: #202020;

    font-family: sans-serif;

}

#navigator, #content {

    padding: 20px;
    margin-bottom: 10px;

    background-color: #ffffff;
    color: #202020;

}

#navigator ul {
    list-style-type: none;
}

#navigator ul li {
    display: inline;
}

#navigator ul li a {

    color: #202020;

    text-decoration: none;

}

#navigator ul li a:hover {
    text-decoration: underline;
}