* {
    margin: 0;
    padding: 0;
}

body {
    
    margin: 20px;

    font-family: sans-serif;

}

#navigator, #content {
    padding: 20px;
    border: 1px solid #202020;
    margin-bottom: 5px;
}

#navigator ul {
    list-style-type: none;
}

#navigator ul li {
    display: inline;
}

#navigator ul li a {

    color: #202020;

    text-decoration: none;

}

#navigator ul li a:hover {
    text-decoration: underline;
}