* {
    margin: 0;
    padding: 0;
}

body {
    
    margin: 20px;

    background-color: #202020;

    font-family: sans-serif;

}

#navigator, #content {

    padding: 20px;
    margin-bottom: 10px;

    background-color: #ffffff;
    color: #202020;

}

#navigator ul {
    list-style-type: none;
}

#navigator ul li {
    display: inline;
}

#navigator ul li a {

    color: #202020;

    text-decoration: none;

}

#navigator ul li a:hover {
    text-decoration: underline;
}

#content hr {
    margin: 10px 0 20px 0;
}

#content #register, #content #login {

    padding: 20px;

    background-color: #ebebeb;

}

#content #register form label, #content #register form input, #content #login form label, #content #login form input {
    font-size: 25px;
}

#content #register form input, #content #login form input {
    display: block;
    margin-bottom: 10px;
}

#content #register form input[type="submit"], #content #login form input[type="submit"] {

    padding: 5px;

    font-size: 15px;

}

#content #register form input[type="submit"]:hover, #content #login form input[type="submit"]:hover {
    cursor: pointer;
}

#content #register form small, #content #login form small {
    color: red;
}

#content #todolist {

    padding: 20px;
    
    background-color: #ebebeb;

}

#content #todolist a {

    display: block;
    padding: 20px;
    border-bottom: 1px solid #202020;

    background-color: #303030;
    color: #ffffff;

    font-size: 20px;
    text-decoration: none;

}

#content #todolist p:hover {

    background-color: #202020;

    cursor: pointer;

}

#content #todolist form input {
    
    border: none;
    outline: none;

    margin-top: 10px;

    background-color: #ffffff;

    font-size: 20px;

}

#content #todolist form input[type="text"] {
    padding: 10px 10px 10px 20px;
}

#content #todolist form input[type="submit"] {
    padding: 0 5px;
}

#content #todolist form input[type="submit"]:hover {
    cursor: pointer;
}