* {
    margin: 0;
    padding: 0;
}

body {
    
    margin: 20px;

    background-color: #202020;

    font-family: sans-serif;

}

#navigator, #content {

    padding: 20px;
    margin-bottom: 10px;

    background-color: #ffffff;
    color: #202020;

}

#navigator ul {
    list-style-type: none;
}

#navigator ul li {
    display: inline;
}

#navigator ul li a {

    color: #202020;

    text-decoration: none;

}

#navigator ul li a:hover {
    text-decoration: underline;
}

#content hr {
    margin: 10px 0 20px 0;
}

#content #register, #content #login {

    padding: 20px;

    background-color: #ebebeb;

}

#content #register form label, #content #register form input, #content #login form label, #content #login form input {
    font-size: 25px;
}

#content #register form input, #content #login form input {
    display: block;
    margin-bottom: 10px;
}

#content #register form input[type="submit"], #content #login form input[type="submit"] {

    padding: 5px;

    font-size: 15px;

}

#content #register form input[type="submit"]:hover, #content #login form input[type="submit"]:hover {
    cursor: pointer;
}

#content #register form small, #content #login form small {
    color: red;
}

#content #todolist {

    padding: 50px;

    background-color: #202020;

}

#content #todolist form input {

    width: 100%;
    outline: none;

    font-size: 30px;
    text-align: center;

    cursor: pointer;

}