{% extends "page.html" %}

{% block content %}

    <img src="{{ picture }}">

    <form method="POST" action="" enctype="multipart/form-data">

        {{ form.hidden_tag() }} <!-- protection against CSRF attacks -->

        {% if form.picture.errors %}
            {% for error in form.picture.errors %}
                <small>{{ error }}</small><br>
            {% endfor %}
        {% endif %}
        {{ form.picture.label }}
        {{ form.picture }}

        {{ form.submit }}

    </form>

{% endblock %}