{% extends "page.html" %}

{% block content %}

    {% if form and todolist_items %}

        <h1>Hello, {{ current_user.email }}</h1>
        <hr>

        <div id="todolist">

            <form method="POST" action="" autocomplete="off">

                {{ form.hidden_tag() }} <!-- protection against CSRF attacks -->

                {% for todolist_item in todolist_items %}
                    <a href="{{ url_for('delete', id=todolist_item.id) }}">{{ todolist_item.task }} </a>
                {% endfor %}
                
                {{ form.new_task }}

                {{ form.submit }}

            </form>

        </div>

    {% else %}

        <p>success is not the result of doing an extraordinary thing once, but the result of doing many unextraordinary things over a long period of time</p>

    {% endif %}

{% endblock %}