{% extends "page.html" %}

{% block content %}

    {% if form == "null" %}
    
        <p>success is not the result of doing an extraordinary thing once, but the result of doing many unextraordinary things over a long period of time</p>

    {% else %}
    
        <h1>Hello, {{ current_user.email }}</h1>
        <hr>

        <div id="todolist">

            <form>

                {{ form.hidden_tag() }} <!-- protection against CSRF attacks -->

                {% for form_todolist_task in form.tasks %}

                    {{ form.hidden_tag() }} <!-- protection against CSRF attacks -->

                    {{ form_todolist_task.task }}

                {% endfor %}

            </form>

        </div>

    {% endif %}

{% endblock %}